.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;

  max-width: 100%;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #55423d;
}

.appliances {
  list-style-type: none;
  background-color: #55423d;
  color: #fff3ec;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
}

.appliance {
  margin: 10px 0;
  background-color: #ffc0ad;
  color: #271c19;
  padding: 20px;
  border-radius: 10px;
}

.pink {
  background-color: #fec7d7;
}

.white {
  background-color: #fffffe;
}

.black {
  color: #0e172c;
}

.round {
  border: 40px;
}
